---
import birdo from "../assets/images/birdo.png"
import Header from "./Header.astro";
// Indsæt billede af jorden i stedet for birdo
---

<!-- Mobil indhold -->
<div class="forsiden-mobil">
    <div class="forsiden-indhold-mobil">
        <Header></Header>
  
      <!-- Øverste sektion -->
      <div class="f-mob-container">
        <div class="f-mob-content">
          <h1>Digital
            Oprydningsdag</h1><br>
            <p>En dag hvor vi samles og
              rydder op i vores digitale affald!</p>
        </div>
      </div>
      
      <div class="f-mob-container2">
        <di class="2-mob-content2">
          <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
        </div>
      </div>
      
      <!-- Anden sektion -->
      <div class="f-mob-container3">
        <div class="f-mob-content3">
          <h2>Hvad er digitalt oprydningsdag?</h2><br>
          <p>Digital Oprydningsdag er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day. </p>
        </div>
      </div>
      
      
      <div class="f-mob-container4">
        <div class="f-mob-content4">
          <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
        </div>
      </div>
      
      <div class="f-mob-container5">
        <div class="f-mob-content5">
          <p>Du kan allerede nu registrere 
            dit bidrag her på hjemmesiden.</p>
        </div>
      </div>
      
      <div class="f-mob-container6">
        <div class="f-mob-content6">
          <a href="">Registrer dit bidrag her</a>
        </div>
      </div>
      
      <!-- Tredje sektion -->
      <div class="f-mob-container7">
        <div class="f-mob-content7">
          <h3>SAVE THE DATE</h3>
          <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
          <a href="#">Tilføj dagen til din kalender   → </a>
        </div>
      </div>
      
      <!-- Fjerde sektion -->
      <div class="f-mob-container8">
        <div class="f-mob-content8">
          <h4>Problemet med digitalt affald</h4><br>
          <p>Én e-mail udsender i gennemsnit 4g CO2, det er det samme som CO2-aftrykket fra en pære tændt i 6 minutter. Der sendes 320 milliarder e-mails hver dag og 62 billioner spam-e-mails hvert år = 20 millioner tons CO2! </p>
        </div>
      </div>
      
      <div class="f-mob-container9">
        <div class="f-mob-content9">
          <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
        </div>
      </div>
      
      <div class="f-mob-container10">
        <div class="f-mob-content10">
          <p>Hvis du vil vide mere kan du tjekke vores ressourcer og materialer ud!</p>
          <a href="#">Ressourcer & materialer → </a>
        </div>
      </div>
      
      <!-- Femte sektion -->
      <div class="f-mob-container11">
        <div class="f-mob-content11">
          <h5>DIGITAL 
            OPRYDNINGSDAG 
            I TAL</h5>
            <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
        </div>
      </div>
      
      <div class="f-mob-container12">
        <div class="f-mob-content12">
          <h6>Vær med til at sprede budskabet om Digital Oprydningsdag og vær selv med ved at registrere dit eget bidrag her på hjemmesiden!</h6>
          <a href="">Registrer dit bidrag her   → </a>
        </div>
      </div>
      
      <div class="f-mob-container13">
        <div class="f-mob-content13">
          <img src={birdo.src} alt="iPhone-sektion1" class="overste-img">
        </div>
      </div>
      
      <!-- Baggrund til sidste sektion -->
      <div class="f-mob-container14">
        <div class="f-mob-content14">
          <p>text</p>
        </div>
      </div>
  
    </div>
  </div>